/** 颜色，字体，背景的配置文件 **/
//颜色定义规范
$menu-background-color-theme:#FFFFFF;//左侧菜单背景色
$menu-background-color-theme1:white;

$menu-is-active-background-color-theme:#1890FF;//左侧菜单选中背景色
$menu-is-active-background-color-theme1:#1890FF;

$menu-is-active-text-color-theme:#ffffff;//左侧菜单选中文字颜色
$menu-is-active-text-color-theme1:#1890FF;

$head-background-color-theme:#181B2F;//头部背景色
$head-background-color-theme1:white;

$head-height-theme:60px;//头部高度
$head-height-theme1:60px;

$overall-background-color-theme:#f7f7f7;//整体背景色
$overall-background-color-theme1:#f7f7f7;//整体背景色

$tabs-pane-background-color-theme:white;//菜单页签选项卡 背景色
$tabs-pane-background-color-theme1:#f7f7f7;//菜单页签选项卡

$tabs-pane-is-active-background-color-theme:#1890FF;//菜单页签选项卡 选中背景色
$tabs-pane-is-active-background-color-theme1:#1890FF;//菜单页签选项卡 选中背景色

$bip-menu-bar-background-color-theme:#ffffff;//按钮栏默认按钮背景色
$bip-menu-bar-background-color-theme1:#1890FF;

$bip-menu-bar-color-theme:#111;//按钮栏默认按钮字体颜色
$bip-menu-bar-color-theme1:#ffffff;

$bip-menu-bar-primary-background-color-theme:#1890FF;//按钮栏主要按钮背景色
$bip-menu-bar-primary-background-color-theme1:#1890FF;

$bip-menu-bar-primary-color-theme:#fff;//按钮栏主要按钮字体颜色
$bip-menu-bar-primary-color-theme1:#1890FF;