@font-face {
  font-family: "iconfont"; /* Project id 1328986 */
  src: url('iconfont.woff2?t=1625197000808') format('woff2'),
       url('iconfont.woff?t=1625197000808') format('woff'),
       url('iconfont.ttf?t=1625197000808') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bip-unfold:before {
  content: "\e6b4";
}

.icon-bip-fold:before {
  content: "\e6b2";
}

.icon-bip-rongtong1:before {
  content: "\e6b0";
}

.icon-bip-rongtong:before {
  content: "\e6af";
}

.icon-bip-icon-ditu:before {
  content: "\e612";
}

.icon-bip-icon-noauth:before {
  content: "\e6ad";
}

.icon-bip-icon-noauth1:before {
  content: "\e6ac";
}

.icon-bip-icon-nodata:before {
  content: "\e6ab";
}

.icon-bip-icon-nodata1:before {
  content: "\e6aa";
}

.icon-bip-shuzhuangtu:before {
  content: "\e69e";
}

.icon-bip-liuchengtu:before {
  content: "\e69f";
}

.icon-bip-calculator:before {
  content: "\e62d";
}

.icon-bip-zk:before {
  content: "\e735";
}

.icon-bip-tijiao:before {
  content: "\e624";
}

.icon-bip-sh:before {
  content: "\e63b";
}

.icon-bip-edit:before {
  content: "\e60b";
}

.icon-bip-copy:before {
  content: "\e611";
}

.icon-bip-left-circle:before {
  content: "\e77f";
}

.icon-bip-right-circle:before {
  content: "\e783";
}

.icon-bip-tongji:before {
  content: "\e636";
}

.icon-bip-save:before {
  content: "\e601";
}

.icon-bip-back:before {
  content: "\e610";
}

.icon-bip-menu:before {
  content: "\e653";
}

.icon-bip-quxiao1:before {
  content: "\e69d";
}

.icon-bip-caidan:before {
  content: "\e69c";
}

.icon-bip-baocun2:before {
  content: "\e69b";
}

.icon-bip-baocun:before {
  content: "\e69a";
}

.icon-bip-fanhui:before {
  content: "\e699";
}

.icon-bip-zujian:before {
  content: "\e697";
}

.icon-bip-youjian:before {
  content: "\e696";
}

.icon-bip-kanban:before {
  content: "\e695";
}

.icon-bip-xiazai1:before {
  content: "\e694";
}

.icon-bip-xiazai:before {
  content: "\e693";
}

.icon-bip-quxiao:before {
  content: "\e692";
}

.icon-bip-bangzhu:before {
  content: "\e691";
}

.icon-bip-bianji:before {
  content: "\e690";
}

.icon-bip-chakan:before {
  content: "\e68c";
}

.icon-bip-fapiao:before {
  content: "\e68b";
}

.icon-bip-shuji:before {
  content: "\e689";
}

.icon-bip-rili:before {
  content: "\e688";
}

.icon-bip-xianxia:before {
  content: "\e687";
}

.icon-bip-daochu:before {
  content: "\e686";
}

.icon-bip-chuku:before {
  content: "\e685";
}

.icon-bip-ruku:before {
  content: "\e684";
}

.icon-bip-delete:before {
  content: "\e683";
}

.icon-bip-dayin:before {
  content: "\e682";
}

.icon-bip-hetong:before {
  content: "\e681";
}

.icon-bip-fukuan:before {
  content: "\e680";
}

.icon-bip-shijian:before {
  content: "\e67f";
}

.icon-bip-qiandao:before {
  content: "\e67e";
}

.icon-bip-first-page:before {
  content: "\e67a";
}

.icon-bip-up:before {
  content: "\e67b";
}

.icon-bip-next:before {
  content: "\e67c";
}

.icon-bip-last:before {
  content: "\e67d";
}

.icon-bip-huowu:before {
  content: "\e676";
}

.icon-bip-caigou1:before {
  content: "\e675";
}

.icon-bip-shu1:before {
  content: "\e674";
}

.icon-bip-search:before {
  content: "\e672";
}

.icon-bip-diannao1:before {
  content: "\e671";
}

.icon-bip-baocun1:before {
  content: "\e670";
}

.icon-bip-renwu1:before {
  content: "\e66f";
}

.icon-bip-wenjian2:before {
  content: "\e66a";
}

.icon-bip-jihua1:before {
  content: "\e669";
}

.icon-bip-shu2:before {
  content: "\e668";
}

.icon-bip-shuju2:before {
  content: "\e666";
}

.icon-bip-shezhi1:before {
  content: "\e663";
}

.icon-bip-wenjian3:before {
  content: "\e662";
}

.icon-bip-zhexian1:before {
  content: "\e661";
}

.icon-bip-wenjian5:before {
  content: "\e660";
}

.icon-bip-zichan1:before {
  content: "\e65f";
}

.icon-bip-zhichu1:before {
  content: "\e65d";
}

.icon-bip-zijin:before {
  content: "\e65c";
}

.icon-bip-zijin2:before {
  content: "\e65a";
}

.icon-bip-xiaoxi1:before {
  content: "\e658";
}

.icon-bip-xiaoxi2:before {
  content: "\e657";
}

.icon-bip-guanli1:before {
  content: "\e656";
}

.icon-bip-wenjianjia3:before {
  content: "\e654";
}

.icon-bip-shuju:before {
  content: "\e652";
}

.icon-bip-renwu2:before {
  content: "\e650";
}

.icon-bip-kucun:before {
  content: "\e64f";
}

.icon-bip-shenhe1:before {
  content: "\e64e";
}

.icon-bip-wenjian1:before {
  content: "\e64c";
}

.icon-bip-wenjian4:before {
  content: "\e64d";
}

.icon-bip-fenxi:before {
  content: "\e64a";
}

.icon-bip-wenben2:before {
  content: "\e64b";
}

.icon-bip-wenjianjia2:before {
  content: "\e643";
}

.icon-bip-wenjian6:before {
  content: "\e645";
}

.icon-bip-renyuan2:before {
  content: "\e644";
}

.icon-bip-wenjianjia4:before {
  content: "\e649";
}

.icon-bip-renyuan1:before {
  content: "\e642";
}

.icon-bip-fenlei2:before {
  content: "\e647";
}

.icon-bip-xinjian2:before {
  content: "\e648";
}

