/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import 'vxe-table/styles/variable.scss';
$vxe-table-row-current-background-color: #61b3d3cc !important; 
@import 'vxe-table/styles/default.scss';

body{
    overflow: scroll;
    overflow-y: hidden; 
    overflow-x: hidden;
}

#app {
    // font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    display: block;
    margin: 0px;
  }
  
  .el-popover  { 
      /* background-color: #20a0ff!important; */
      /* border:0px !important;  */
      padding: 0px !important;
      box-shadow: rgb(200, 200, 200) 1px 1px 6px !important;
      border-radius: 2px !important;
  } 
  .user_name{
      font-size: 15px; 
  }
  .user_code{
      font-size: 15px;   
      opacity: .74;
      padding: 2px 0px;
  }
  .user_button{ 
      padding: 0px !important;
      color:#606266 !important;
  }
  .user_padding{
      padding: 10px 15px;
      margin: 0px !important;;
  }
  .user_hr{ 
      border-bottom: 1px solid #eeeeee;  
  }
  .menu{
      z-index: 99999; 
      position: absolute;
      animation-fill-mode: both;
      height: 100%;
  }
  .menu1{ 
      animation-name: fadeInLeft; 
      animation-duration: 0.3s;
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    } 
    to {
      opacity: 1;
      transform: none;
    }
  }
  .menu2{
      animation-name: fadeInLeft2;
      animation-duration: 0.3s;
  }
  @keyframes fadeInLeft2 { 
      from {
          opacity: 1;
          transform: none;
      }
      to {
          opacity: 0;
          transform: translate3d(-100%, 0, 0);
      }
  }

  //菜单 悬浮 背景色
.el-menu-item:hover, .el-menu-item:focus{
    @include menu_item_is_hover()
}
.el-submenu__title:hover, .el-submenu__title:focus{
    @include menu_item_is_hover()
}
//表格分页选中背景色
.el-pagination.is-background .el-pager li:not(.disabled).active {
    @include menu_item_is_active()
}

.el-input-number--small{
    width: 100% !important;
}

$--bip-input-color-label: #303439;
$--bip-input-color-input: #606972;
$--bip-input-color-req: #d62121;
$--bip-input-color-dis: #bbbbbb;
$--bip-bg-color:#f9f9f9;//f4f6fb
$--bip-comm-color:#ffffff;//f4f6fb

/**
自己的scss
*/
.bip-text-align-left{
    text-align: left !important;
}
.bip-text-align-right{
    text-align: right !important;
}
.bip-text-align-center{
    text-align: center !important;
}

//菜单栏位按钮样式
.menubar{
    background: white;
    min-height: 50px;
    line-height: 50px;
}
.el-button-group > .el-button{
    background: $--bip-bg-color;
}
//单据查询弹出框样式

.line {
    text-align: center;
}
.bip-search{
    .el-dialog__header{
        @include head_bg_style();
    }
    .el-dialog__body{
        padding: 10px 0px !important;
    }
}

//查询框按钮
.el-input-group__append{
    padding: 0 8px !important;
}

//BIP 按钮样式
.bip_btn_default{
    @include bip_menu_bar_default();
}
.bip_btn_primary{
    @include bip_menu_bar_primary();
}
.bip_btn_success{
    @include bip_menu_bar_success();
}
.bip_btn_info{
    @include bip_menu_bar_info();
}
.bip_btn_warning{
    @include bip_menu_bar_warning();
}
.bip_btn_danger{
    @include bip_menu_bar_danger();
}

/**普通输入框*/
.is-required .el-form-item__label{
    color:$--bip-input-color-req;   
}

.el-form-item__label{
    color:$--bip-input-color-label;
    // font-weight:bold;  
}

.el-input .el-input__inner {
    color:$--bip-input-color-input;
}

.el-input.is-disabled .el-input__inner {
    color:$--bip-input-color-dis;
}


// 分组页签样式
.el-card__header {
    padding: 8px 20px;
}




/**拷贝定义*/
.bip-copy {
    .el-dialog__body{
        padding:4px 12px;
    }
    .el-dialog__footer{
        padding-top: 5px;
        padding-bottom: 10px;
        text-align: center;
    }
    hr{
        color:#ccc;
    }
    .el-table__body tr.current-row > td {
        background-color: #13a8a1 !important;
    }
}

/**Query查询*/
.bip-query {
    .el-dialog__header{
        @include head_bg_style();
        .el-icon-close{
            color: #ffffff;
        }
        .el-dialog__title{
            color: #ffffff;
            font-size: 16px;
        }
    }
    .el-dialog__body{
        padding:4px 12px;
    }
    .el-dialog__footer{
        padding-top: 5px;
        padding-bottom: 10px;
        
    }
    hr{
        color:#ccc;
    }
    .el-table__body tr.current-row > td {
        background-color: #13a8a1 !important;
    }
}

// 统计方案样式
.bip-search {
    .el-dialog__header{
        @include head_bg_style();
        .el-icon-close{
            color: #ffffff;
        }
        .el-dialog__title{
            color: #ffffff;
            font-size: 16px;
        }
    }
    .el-dialog__body{
        padding:4px 12px;
    }
    .el-dialog__footer{
        padding-top: 5px;
        padding-bottom: 10px;
    }
    hr{
        color:#ccc;
    }
}

// 文件上传下载弹出框
.bip-file {
    .el-dialog__title{
        color: #ffffff;
        font-size: 16px;
    }
}
/**辅助弹出框*/
.bipinsaid {
    .el-dialog__header{
        @include head_bg_style();
        .el-icon-close{
            color: #ffffff;
        }
        .el-dialog__title{
            color: #ffffff;
            font-size: 16px;
            line-height:24px;
        }
    }
    .search {
        margin: 3px 0;
    }
    .el-dialog__body{
        padding:2px 2px;
        
    }
    .el-dialog__footer{
        padding-top: 5px;
        padding-bottom: 10px;
    }
    hr{
        color:#ccc;
    }
    .el-table__body tr.current-row > td {
        background-color: #13a8a1 !important;
    }
   
}

/**DLG弹出框*/
.dlgbtn {
    .el-dialog__header{
        @include head_bg_style();
        .el-icon-close{
            color: #ffffff;
        }
        .el-dialog__title{
            color: #ffffff;
            font-size: 16px;
        }
    }
    .search {
        margin: 3px 0;
    }
    .el-dialog__body{
        padding:30px 30px;
        
    }
    .el-dialog__footer{
        padding-top: 0;
        padding-bottom: 10px;
    }
    hr{
        color:#ccc;
        margin-top:0;
        margin-bottom:10px
    }
    .el-table__body tr.current-row > td {
        background-color: #13a8a1 !important;
    }
    
    el-button--primary {
        color: #fff;
        background-color: #20a0ff;
        border-color: #20a0ff;
    }
   
}

/**文件样式*/
.bip-file {
    .el-dialog__header{
        @include head_bg_style();
        .el-icon-close{
            color: #ffffff;
        }
    }
    .el-dialog__body {
      padding: 2px 2px;
    }
    .el-dialog__footer {
      padding-top: 5px;
      padding-bottom: 10px;
    }
    hr {
      color: #ccc;
    }
  }


/** 菜单样式*/
.bip-nav-menu{
    position: fixed !important;
    max-height: 10rem;
    overflow: auto;
    // border: .015625rem solid rebeccapurple;
    box-shadow: 4px 4px 17px #888888;
    .el-menu--popup-right-start{
        margin-left: 0px !important;
        margin-right: 0px !important;
        position: revert !important;
    };
    scrollbar-width:thin;
    scrollbar-color: #ccc #eee;
}
.bip-nav-menu::-webkit-scrollbar {
    width: 4px;
}
.bip-nav-menu::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

/** 统计图表样式*/
.charttitle{
    text-align: center;
    background-color: #ffffff;
    border-radius: 6px 6px 0px 0px;
    padding: 3px;
    color: #4A77FA;
}
.bip-form-item {
    margin-bottom: 22px !important;
}


/**审批样式*/
.bip-work{

    .el-dialog--center .el-dialog__body {
        text-align: initial;
        padding-top: 26px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
        }
    .el-dialog__header {
        @include head_bg_style();
        .el-dialog__title{
            color: #ffffff;
            // font-weight:bold;
        }
    }
    .el-dialog__headerbtn {
        position: absolute;
        top: 10px;
        font-size: 20px;
    }

    .bip-work-title{
        margin-top: -18px;
        h3{
            font-size: 14px;
            margin-top: 26px;
        }
    }
    .bip-work-title.el-row{
            margin-bottom: 0px;
    }

    // .el-dialog__footer{
    //     text-align: center
    // }

    .el-dialog__body {
        padding: 15px 20px 5px;
        color: #606266;
        font-size: 14px;
        word-break: break-all;
    }
}

/**自己的scss*/

.bip-main {
    // padding-left: 10px;
    padding: 0px !important;
    margin-top: 10px !important;
    .el-tabs__new-tab{
        margin: 5px 13px 2px 5px;
    }
    .clearBtn{
        position: absolute;
        right:10px;
        top:1px;
    }
  }

.bip-tabs{
    .el-tabs__header{
        margin-left: 14px;
        padding: 0;
        position: relative;
        // @include overall_bg_color();
    }
}
.el-tabs--border-card > .el-tabs__content {
    padding: 10px 14px;
}
.el-tabs__content{
    @include overall_bg_color();
}
.el-tabs--border-card {
    @include overall_bg_color();
    border: none;
}
.el-tabs--border-card>.el-tabs__header {
    border:none;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
    @include tabs_pane_is_active();
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item {
    @include tabs_pane();
}
.el-tabs--border-card > .el-tabs__header .el-tabs__nav-next, .el-tabs__nav-prev {
    line-height: 30px;
}

.bip-tabs-layout .el-tabs__nav-scroll{
    background-color: white;
    .el-tabs__item{
        padding: 0px;
        position: relative;
    }
}
.bip-tabs-layout .el-tabs__header{
    margin-left: 20px !important;
}

.el-tab-pane{
    background: $--bip-comm-color;
}

.el-menu-item.is-active{
    @include menu_item_is_active();
}
// 页面单元格样式
.bip-input-item {
    margin-bottom: 2px !important;
}
.bip-input-item .el-form-item__label{
    width: 110px;
    padding: 7px 15px;
    height: 36px;
    line-height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px 0 0 2px;
    text-align: center;
    background-color: #FBFBFB;
    overflow: hidden;
    box-sizing: border-box;
    border-color: #e6e6e6;
    border-right: 0px solid #e6e6e6 ;
}
.el-form-item__label{
    width: 110px;
    padding: 7px 15px;
    height: 36px;
    line-height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px 0 0 2px;
    text-align: center;
    background-color: #FBFBFB;
    overflow: hidden;
    box-sizing: border-box;
    border-color: #e6e6e6;
    border-right: 0px solid #e6e6e6 ;
    text-overflow: ellipsis;
}
.bip-input-item .el-form-item__content {
    line-height: 0px;
    .el-cascader--medium{
        line-height: 0px !important;
    }
}
.bip-input-item .el-form-item__content .el-input__inner {
    border-radius: 0px 2px 2px 0;
    border-color: #e6e6e6;
}
.el-form-item__content .el-input__inner {
    border-radius: 0px 2px 2px 0;
    border-color: #e6e6e6;
}
.bip-input-item .el-form-item__content .el-input-group__append {
    border-radius: 0 2px 2px 0;
}
.el-form-item__content .el-input-group__append {
    border-radius: 0 2px 2px 0;
}
.bip-input-item-notitle{
    .el-form-item__label{
        width: 0px !important;
        display: none;
    }
    .el-form-item__content{
        margin-left: 0px !important;
    }
}
.el-form-item {
    margin-bottom: 5px !important;
}
.bip-row {
    margin-bottom: 2px !important;
}
// 登录页面样式
.login-cont .el-form-item__label{
    width: 100px;
    // padding: 7px 15px;
    height: 38px;
    line-height: 38px;
    line-height: 20px;
    border-width: 0px;
}

.bip-main-container {
    // position: fixed; 
    // height: calc(100% - 170px) !important;
    // width: calc(100% - 28px) !important;
    z-index: 1;
    // overflow: hidden;
    // margin-right: 20px;
    .el-scrollbar {
        height: 100%;
        margin-bottom: 10px !important;
        margin-right: 0px !important;
        padding-bottom: 20px;
        .el-scrollbar__wrap {
            overflow-x: hidden !important;
            padding-right: 0px;
            height: 100%;
            width: 100%;
            scrollbar-width:thin;
            scrollbar-color: #ccc #eee;
        }
        .el-scrollbar__wrap::-webkit-scrollbar {
            width: 4px;
        }
        .el-scrollbar__wrap::-webkit-scrollbar-thumb {
            background-color: #d9d9d9;
        }
    }
    .el-scrollbar__thumb{
        height: 0px !important
    }
}
.changePass {
    .el-dialog__header{
        @include head_bg_style();
        .el-icon-close{
            color: #ffffff;
        }
        .el-dialog__title{
            color: #ffffff;
            font-size: 16px;
        }
    }
}
 
.el-form-item__error {
    /**position: absolute !important;
    top:16px;
    text-align: center;
    background-color: red;
    filter: alpha(Opacity=40);
    opacity: 0.4;
    width: auto;
    height: 21px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    line-height: 21px;
    z-index: 99;**/
    top: 30px;
    width: auto;
    color: red;
    z-index: 99;
} 
.gantt-task-list-item-select{
    background-color:#81C2DC !important;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #81C2DC !important;
}

.vxe-table--render-default.size--mini .vxe-header--column.col--ellipsis > .vxe-cell, .vxe-table--render-default.size--mini .vxe-body--column.col--ellipsis > .vxe-cell, .vxe-table--render-default.size--mini .vxe-footer--column.col--ellipsis > .vxe-cell {
    max-height: 62px !important;
}
.vxe-table--body-wrapper{
    scrollbar-width:thin;
    scrollbar-color: #ccc #eee;
}
.mytable-scrollbar{
    scrollbar-width:thin;
    scrollbar-color: #ccc #eee;
}
/*滚动条整体部分*/
.mytable-scrollbar ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  /*滚动条的轨道*/
  .mytable-scrollbar ::-webkit-scrollbar-track {
    background-color: #FFFFFF;
  }
  /*滚动条里面的小方块，能向上向下移动*/
  .mytable-scrollbar ::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }
  .mytable-scrollbar ::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
  }
  .mytable-scrollbar ::-webkit-scrollbar-thumb:active {
    background-color: #eee;
  }
  /*边角，即两个滚动条的交汇处*/
  .mytable-scrollbar ::-webkit-scrollbar-corner {
    background-color: #FFFFFF;
  }